<div class="col">
      <div class="col-xs-12">
            <h1>Computer Science and Engineering</h1>
      </div>
</div>
<img src="assets/images/cse.jpg" alt="Computer Science & Engineering" width="650" height="650" align="right">
<br>
<div class="col">
      <div class="col-xs-12">
            <p>
                  The Objective of the department is "To develop efficient and dynamic Computer Science Engineers with academic excellence,
                  effective communication skills, leadership skills, excellent character, and high integrity to serve the
                  interests of the society and nation".
            </p>
      </div>
</div>
<br>
<div class="col">
      <div class="col-xs-12">
            <h5>Vision</h5>
      </div>
</div>
<br>
<div class="col">
      <div class="col-xs-12">
            <p>
                  To build a strong teaching-learning base with flair for innovation and research that responds to the dynamic needs of the
                  software industry and the society.
            </p>
      </div>
</div>
<br>
<div class="col">
      <div class="col-xs-12">
            <h5>Mission</h5>
      </div>
</div>
<br>
<div class="col">
      <div class="col-xs-12">
            <p> 1.To provide strong foundation both in theory and applications of Computer Science and Engineering, so as to
                  solve real-world problems.</p>
            <p> 2.To empower students with state-of-art knowledge and up to date technological skills, making them globally competent.</p>
            <p> 3.To promote research, innovation and entrepreneurship with focus on industry and social outreach.</p>
            <p> 4.To foster civic minded leadership with ethics and values among students.</p>
      </div>
</div>