<div class="col">
        <div class="col-xs-12">
                <h4>Library</h4>
        </div>
</div>
<br>
<div class="col">
        <div class="col-xs-12">
                <p> The Library of this Institute was built to keep up International Standards, is located in separate block
                        - a new multi-storied building with carpet area of 1878 sq. meters. with sufficient area for stacks
                        and reading space. It is fully computerized and furnished, containing a large number of volumes,
                        titles, journals, periodicals and newspapers. With the ambience provided by the facilities and atmosphere,
                        it can be truly called a 'Knowledge Centre' and also a 'Learning Centre' and all the students and
                        staff find it conducive for constructive study.
                </p>
        </div>
</div>
<div class="col">
        <div class="col-xs-12">
                <h4>Internet</h4>
        </div>
</div>


<br>
<div class="col">
        <div class="col-xs-12">
                <p> The host of shrines in the campus creates an evocative environment engendering a spiritual perspective in
                        the inmates of the campus.
                </p>
        </div>
</div>
<div class="col">
        <div class="col-xs-12">
                <h4>Air Conditioned Auditoriums</h4>
        </div>
</div>


<br>
<div class="col">
        <div class="col-xs-12">
                <p> The state of the Art Auditoriums in the campus are the hub of academic activities. The campus is provided
                        with two air conditioned Auditoriums, one accommodating 1000 people and the other 300 people. The
                        auditoriums are provided with A/c capacity of 100 tons and 33 tons each. Sophisticated audio visual
                        equipment facilitates high quality presentations, video conferencing and live media streaming.
                </p>
        </div>
</div>
<div class="col">
        <div class="col-xs-12">
                <h4>Higginbotham Book Store</h4>
        </div>
</div>


<br>
<div class="col">
        <div class="col-xs-12">
                <p> It is one of the very few colleges in the country that has Higginbotham Book store in the campus. The shop
                        with its numerous and diverse collections of books quenches the thirst for knowledge of all the book
                        lovers in the campus.
                </p>
        </div>
</div>
<div class="col">
        <div class="col-xs-12">
                <h4>Mineral Water (RO) Plant</h4>
        </div>
</div>


<br>
<div class="col">
        <div class="col-xs-12">
                <p> To ensure pure drinking water, the entire campus is supplied mineral water from the Mineral water plant established
                        exclusively in the campus.
                </p>
        </div>
</div>
<div class="col">
        <div class="col-xs-12">
                <h4>Hostels</h4>
        </div>
</div>


<br>
<div class="col">
        <div class="col-xs-12">
                <p> The object of the Hostel is to provide suitable and comfortable accommodation for deserving students from
                        Andhra Pradesh and outside the State. The Hostel has a number of blocks to accommodate exclusively
                        for girl students.
                </p>
        </div>
</div>