<div class="col">
  <div class="col-xs-12">
    <p>
      The Society aims and strives for continuous improvement in the field of education and is committed to delivering world class
      education in various fields to students from different strata.Our founder chairman Late. Padma Bhushan Dr. Raju,through
      his excellent vision and foresight established many educational institutions. These institutions are playing a vital
      role in mouldingand shaping the future of thousands of students year after year.
    </p>
  </div>
</div>
<br>
<div class="col">
  <div class="col-xs-12">
    <h2>Chairman</h2>
  </div>
</div>

<br>
<div class="col">
  <div class="col-xs-12">
    <p>
      Sri. K. Raju began his career as a Chemical Engineer in M/s. E.T. Dupont De Nemours, USA, from 1989 to 1991, where
      he looked after research and development in polymers, ceramics and adhesives. He returned to India in 1992 and served
      as the Executive Director of M/s. Kaasi Cement Ltd., Hyderabad till 1995. The following year, he was promoted as Joint
      Managing Director of M/s. Raasi Cement Ltd.,a post that he held till April 1998. In December 1999, he took over as
      the Managing Director of M/s. Anjali Portland Cement Ltd., Hyderabad.
    </p>
  </div>
</div>
<br>
<div class="col">
  <div class="col-xs-12">
    <h2>Vice-Chairman</h2>
  </div>
</div>

<br>
<div class="col">
  <div class="col-xs-12">
    <p>
      Sri Rajagopal, is a graduate in Mechanical Engineering from National Institute of Technology, Tiruchirapalli,
      and a postgraduate in Management from Indian Institute of Management, Calcutta. He started his professional career
      with the Swiss multinational company Novartis, India where he served in various capacities including Business Development,
      New Product and Application development, and Vendor Development.
    </p>
  </div>
</div>