
<div class="container">
  <h2>Technical Faculty Details</h2>
  <br>
  <table class="table table-bordered">
      <thead>
       <tr>
         <th>Name</th>
         <th>Qualification</th>
         <th>Position</th>
        <th>Department</th>
       </tr>
       </thead>
       <tbody>
    <tr>
      <td>D SURYANARAYANA </td>
      <td>Ph.D.</td>
      <td>Principal</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>K SRINIVAS</td>
      <td> M.Tech</td>
      <td>HOD</td>
      <td>Department of ECE</td>
    </tr>
    <tr>
      <td>SUMIT GUPTA</td>
      <td> Ph.D.</td>
      <td>HOD</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>K NARENDRA KUMAR</td>
      <td>Ph.D.</td>
      <td>HOD</td>
      <td>Department of CIVIL</td>
    </tr>
    <tr>
      <td>B V PRASANTHI</td>
      <td>M.Tech</td>
      <td>Asst.Professor</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>K KIRAN</td>
      <td>M.Tech</td>
      <td>Asst.Professor</td>
      <td>Department of ECE</td>
    </tr>
    <tr>
      <td>K SHARADA KALYANI</td>
      <td>M.Tech</td>
      <td>Asst. Professor</td>
      <td>Department of CIVIL</td>
    </tr>
    <tr>
      <td>B SRIDEVI</td>
      <td>M.Tech</td>
      <td>Asst.Professor</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>M RAMYA KIRANMAYEE</td>
      <td>M.E.</td>
      <td>Asst.Professor</td>
      <td>Department of CIVIL</td>
    </tr>
    <tr>
      <td>C V KEYRTHY</td>
      <td>M.Tech</td>
      <td>Asst.Professor</td>
      <td>Department of ECE</td>
    </tr>
    <tr>
      <td>G SRINIVASA REDDY</td>
      <td>M.Tech</td>
      <td>Asst. Professor</td>
      <td>Department of CIVIL</td>
    </tr>
  </tbody>
  </table>
  </div>