<div class="col">
  <div class="col-xs-12">
    <h1>Civil Engineering</h1>
  </div>
</div>
<img src="assets/images/CivilEngineer.jpg" alt="Civil Engineering" width="600" height="600" align="right">
<br>
<div class="col">
  <div class="col-xs-12">
    <p>
      The Department of Civil Engineering pulls out all stops to create outstanding engineers - with advanced teaching techniques
      and learning aids for undergraduate students.CIVILENGINEERING DEPARTMENT of the institute started functioning right
      from the inception of the institute, in the year 2011. Students are not only made experts in technical aspects but
      also in interpersonal skills, a vital ingredient to excel in the fast-paced world. Students gain practical experience
      from field visits to industries, dams and irrigation structures, construction sites, etc. Our teaching- learning process,
      involves industry experts and adjunct faculties to enhance the student's knowledge and also targets to bridge the gap
      that exists between academic curriculum and industrial demands. Students are motivated to take up research projects,
      to carry out regular industrial and field visits, to present papers in academic conferences which will enable them
      to excel in their selected career.
    </p>
  </div>
</div>
<br>
<div class="col">
  <div class="col-xs-12">
    <h5>Highlights</h5>
  </div>
</div>
<br>
<div class="col">
  <div class="col-xs-12">
    <p> 1.Well qualified and experienced faculty members form the department.</p>
    <p> 2.Experts from industry are regularly invited to present lectures and to interact with students and faculty.</p>
    <p> 3.Industry representatives visit the campus to recruit students finishing their degrees.</p>
  </div>
</div>