<div class="col">
  <div class="card mb-1 col-md-3">
    <div class="card-body">
      <a routerLink="./civil">
      Civil ENGINEERING
      </a>
    </div>
  </div>

  <div class="card mb-1 col-md-3">
    <div class="card-body">
      <a routerLink="./cse">
      COMPUTER SCIENCE AND ENGINEERING
      </a>
    </div>
  </div>

  <div class="card mb-1 col-md-3">
    <div class="card-body">
      <a routerLink="./ece">
      ELETRONICS AND COMMUNICATION ENGINEERING
      </a>
    </div>
  </div>

  

<div class="col mb-2">
  <router-outlet></router-outlet>
</div>
