
<div class="container">
  <h2>Non Technical Faculty Details</h2>
  <br>
  <table class="table table-bordered">
      <thead>
       <tr>
         <th>Name</th>
         <th>Qualification</th>
         <th>Position</th>
        <th>Department</th>
       </tr>
       </thead>
       <tbody>
    <tr>
      <td>N NARAYANA </td>
      <td>Diplomo</td>
      <td>Lab Assistent</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>L SRINI</td>
      <td>B.sc. Chemistry  </td>
      <td>Lab Assistent</td>
      <td>Department of ECE</td>
    </tr>
    <tr>
      <td>M SUMANTH</td>
      <td> B.Tech</td>
      <td>Lab Assistent</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>R KUMAR</td>
      <td>Diplomo(civil)</td>
      <td>Lab Assistent</td>
      <td>Department of CIVIL</td>
    </tr>
    <tr>
      <td>H PRASANTH</td>
      <td>M.Tech</td>
      <td>Lab Assistent</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>R KIRAN</td>
      <td>B.Tech</td>
      <td>Lab Assistent</td>
      <td>Department of ECE</td>
    </tr>
    <tr>
      <td>G KALYANI</td>
      <td>B.Tech</td>
      <td>Lab Assistent</td>
      <td>Department of CIVIL</td>
    </tr>
    <tr>
      <td>A SRIDEVI</td>
      <td>B.Tech</td>
      <td>Lab Assistent</td>
      <td>Department of CSE</td>
    </tr>
    <tr>
      <td>S RAMYA</td>
      <td>B.E.</td>
      <td>Lab Assistent</td>
      <td>Department of CIVIL</td>
    </tr>
    <tr>
      <td>D KEYRTHY</td>
      <td>B.Tech</td>
      <td>Lab Assistent</td>
      <td>Department of ECE</td>
    </tr>
    <tr>
      <td>G S REDDY</td>
      <td>B.Tech</td>
      <td>Lab Assistent</td>
      <td>Department of CIVIL</td>
    </tr>
  </tbody>
  </table>
  </div>