<div class="col">
      <div class="col-xs-12">
            <h1>Electronics and Communication Engineering</h1>
      </div>
</div>
<img src="assets/images/ece.jpg" alt="ECE Engineering" width="650" height="650" align="right">
<br>
<div class="col">
      <div class="col-xs-12">
            <p>
                  The Objective of the department is "To impart Quality Education in Electronics and Communication Engineering". Advanced subjects
                  such as Wireless Digital Communications, Digital Signal Processing, Microprocessors, Micro Controllers,
                  etc are offered in the department.
            </p>
      </div>
</div>

<br>
<div class="col">
      <div class="col-xs-12">
            <h5>Vision</h5>
      </div>
</div>

<br>
<div class="col">
      <div class="col-xs-12">
            <p> In pursuit of world class excellence in the field of Electronics and Communication Engineering by imparting quality
                  education and promoting Research.

            </p>
      </div>
</div>

<br>
<div class="col">
      <div class="col-xs-12">
            <h5>Mission</h5>
      </div>
</div>

<br>
<div class="col">
      <div class="col-xs-12">
            <p> 1.To empower students with knowledge and competencies in the field of Electronics& Communication Engineering
                  conforming to International standards.
            </p>
            <p> 2.To produce creative solutions essential to local and global needs in the field of Electronics& Communication
                  Engineering.
            </p>
            <p> 3.To mould the students professionally with a consciousness of moral values and professional ethical code.

            </p>
      </div>
</div>